/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
/*     font-size:14px; */
    height:100%;
    margin:0px;
    padding:0px;

    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

.ui-btn {
  /*padding-left: 0.8em;
  padding-right: 0.8em;*/
  text-overflow: inherit;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


.ui-content{
  margin: 0;
  padding: 0;
}
/*
#mapapp .ui-header{
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 100500;
  width: 100%;
  border: none;
  background: none;
}

@media screen and (min-width:600px) {
    #mapapp .ui-header{
      width: 600px;
    }
}*/

/*#mapapp .ui-header .ui-controlgroup{
  margin: 6px;
}*/
#mapapp .ui-controlgroup-controls{
    width: 100%;
}
#set-search .ui-input-search{
  margin-right: -85px;
  padding-right: 0;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
/*   vertical-align: middle; */
  box-shadow: none;
  text-shadow: none;
  height: 3.5em;
  float:left;
}/*
#mapapp .ui-header .ui-select{
  display: block;
  float: none;
  margin-right: -3px;
}*/
#set-search #search-button{
  display: inline-block;
  float: none;
  margin-right: -2px;
}

#set-search .ui-input-search input{
  padding-top: 8px;
  padding-bottom: 8px;
}


#info {

}
#info #stars, #info #controls{
  padding: 0px 10px 0.75em;
}
#info .ui-body.ui-body-a{
  margin: 0px 10px 0.75em;
}

#info h1{
  margin: 10px;
  text-align: left;
  font-size: 2em ;
  font-weight: bold;
  color: #389F41;
  font-weight: normal;
}

#info h2{
  border-bottom: 1px solid #DDDDDD;
/*   color: #3EB249; */
  font-size: 1.6em;
  margin: 0.74em 10px 0.74em;
  padding-bottom: 0.2em;
  color: #389F41;
  font-weight: normal;
}

#info .ui-navbar{
  margin: 0 10px;
}
#info .ui-navbar li:last-child .ui-btn {
  border-right-width: 1px;
}
#info .ui-body{
  padding: 0px 10px 0.75em;
}
#info .comment-rating .ui-icon-star{
  width: 10px;
  height: 10px;
  border: none;
  background: none;
}
#info .comment-rating .ui-icon-star:after{
  background-size: 10px 10px;
}

  @font-face { font-family: "Rubl Sign"; src: url(http://www.artlebedev.ru/;-)/ruble.eot); }
span.rur { font-family: "Rubl Sign"; text-transform: uppercase; /* text-transform: none;*/}
span.rur span { position: absolute; overflow: hidden; width: .45em; height: 1em; margin: .1ex 0 0 -.55em; /* display: none;*/ }
span.rur span:before { content: '\2013'; }
#map .ymaps-svg-icon {
  cursor: move;
  /*left: -22px!important;
  top: -76px!important;
  width: 68px!important;
  height: 82px!important;
  background-size: 68px 82px;*/
}
.semafor {
  position: absolute;
  top: 0px;
  right: 4px;
}
.more-button {
  position:absolute;
  bottom: 0px;
  right: -30px;
  border-left: 1px solid rgb(216,216,216);
  border-top: 1px solid rgb(216,216,216);
  border-right: none;
  border-bottom: none;

  width: 36px;
  font-size: 16px;
  height: 1em;

}
.more-button p {
  margin-right: 11px;
  margin-top: -7px;
  float: right;
  cursor: pointer;
}
.more-button:hover {
  background-color: rgb(255, 253, 208);
}
.hint-container {
  min-width: 200px;
  min-height: 90px;
}
.hint-container p {
  margin-bottom: 2px;
  max-width: 110px;
}
.hint-container h2 {
  margin: 0px;
  font-weight:100;
  font-size:17px;
}

.top-slide-menu{
  opacity: 0.9;
  position: absolute;
  z-index: 100500;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: rgba(0, 0, 0, 0.149) 5px 0px 5px 0px;
  padding: 0;
  height: 2.3em;
  overflow: hidden;
  max-height: 21em;
  min-height: 2.3em;
}
.top-slide-menu .ui-icon-bars{
  border: none;
  background: none;
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0;
  bottom: 0;
  cursor: pointer;
}
.top-slide-menu .ui-icon-bars:focus,
.top-slide-menu .ui-icon-bars:hover,
.top-slide-menu .ui-icon-bars:active{
  border: none;
  background: none;
}
.top-slide-menu .ui-icon-bars:after{
  background-color: none;
}

.top-slide-menu fieldset{
  position: absolute;
  top: 0;
  bottom: 1.75em;
  left: 0.5em;
  right: 0.5em;
  overflow: hidden;
}

#set-money div{
  width: 50%;
  float: left;
/*   width: calc(50% - 100px); */
/*   display: inline-block; */
}
#set-money .last{
  width: 34%;
}
#set-money div:last-child a{
  border-left-width: 0;
}
#set-money .last a{
  height: 3.05em;
  border-left-width: 3px!important;
}
#set-money div a:last-child{
  border-bottom-width: 1px;
}

.ui-collapsible{
  margin: 0;
}
.ui-collapsible-heading .ui-btn{
    border-right-width: 1px;
    border-left-width: 1px;
}
.ui-listview > .ui-li-static, .ui-listview > .ui-li-divider, .ui-listview > li > a.ui-btn {
  border-right-width: 1px;
    border-left-width: 1px;
}

.ymaps-balloon-pane {
  top: -28px;
}
.money-rur{
  background-image: url("../img/rur.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.money-count-3 .money-rur{
  margin-right: 4px;
}
.money-eur{
  background-image: url("../img/eur.png");
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  margin-bottom: -5px;
  display: inline-block;
  margin-right:-8px;
}
.money-usd{
  background-image: url("../img/usd.png");
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  display: inline-block;
}
.money-count-2 .money-usd{
  margin-right: 2px;
}
.money-types{
  float:right;
}
.money-types .money-count-1 {
  right:24px;
  top:60px;
  position:absolute;
}
.money-count-1 .money-man{
  right: -5px;
}
.money-types .money-count-2 {
  right:14px;
  top:60px;
  position:absolute;
}
.money-types .money-count-3 {
  right:5px;
  top:60px;
  position:absolute;
}
.money-count-3 .money-man{
  right: 15px;
}
.money-count-2 .money-man{
  right: 7px;
}
.money-count-1 .money-eur{
  margin-right: -3px;
}
.money-man {
  background-image: url("../img/man.png");
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  display: block;
  position:absolute;
  top: 35px;
}

.arrow-up-45 {
  background-image: url("../img/arrows.png");
  background-position: -45px -36px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:33px;
  top:28px;
  display: none;
}
.arrow-down-45 {
  background-image: url("../img/arrows.png");
  background-position: -7px -8px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:40px;
  top:30px;
  display: none;
}
.arrow-up-135 {
  background-image: url("../img/arrows.png");
  background-position: -7px -36px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:7px;
  top:28px;
  display: none;
}
.arrow-down-135 {
  background-image: url("../img/arrows.png");
  background-position: 62px -8px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:-2px;
  top:30px;
  display: none;
}
.arrow-up-30 {
  background-image: url("../img/arrows.png");
  background-position: -69px -36px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:7px;
  top:23px;
  display: none;
}
.arrow-down-30 {
  background-image: url("../img/arrows.png");
  background-position: 20px -8px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:-4px;
  top:25px;
  display: none;
}
.arrow-up-120 {
  background-image: url("../img/arrows.png");
  background-position: 24px -36px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:15px;
  top:23px;
  display: none;
}
.arrow-down-120 {
  background-image: url("../img/arrows.png");
  background-position: 40px -8px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:20px;
  top:25px;
  display: none;
}
.arrow-up {
  background-image: url("../img/arrows.png");
  background-position: 84px -36px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:-1px;
  top:23px;
  display: none;
}
.arrow-down {
  background-image: url("../img/arrows.png");
  background-position: -28px -8px;
  background-size: 110px 96px;
  height: 20px;
  width: 20px;
  position: absolute;
  right:4px;
  top:25px;
  display: none;
}
.money-count-3 .arrow-up {
  right: 18px;
}
.money-count-3 .arrow-down {
  right: 23px;
}
.map-nav-btn{
  margin-top:0px;
}
#open-menu:after{
  background-size: 2em 2em;
  border-radius: 0;
}
#open-menu{
  position: absolute;
  margin: 1px;
  z-index: 1000;
  width: 2.5em;
  height: 2.5em;
}
#open-menu .ui-radio .ui-btn-active{
  background-color: #3388CC;
  border-bottom-color: #3388CC;
  border-left-color: #3388CC;
  border-right-color: #3388CC;
  border-top-color: #3388CC;
  color: #FFFFFF;
  text-shadow: 0px 1px 0px #005599;
}

#menu, #menu .ui-panel-inner{
  padding: 0;
  top: 42px;
/*   background: #389F41; */
}

#menu .ui-btn{
  /*background: #389F41;
  color: #fff;*/
  color: #389F41;
  font-weight: normal;
}

#menu fieldset{
    margin: 0;
}
#menu a{
  border-radius: 0;
}

.ui-header{
  background-color: #389F41!important;
  border: none;
}

.ui-header .ui-title{
color: #fff;
}

.ui-btn.on{
 background: #B3F1B7!important; 
}
.ui-btn-active{
  background-color: #B3F1B7!important;
}
#semafore{
  margin-top: -100px;
position: absolute;
right: 10px;
text-align: right; 
}